**/.terraform/*
*.tfstate
*.tfstate.*
celerybeat-schedule.bak
celerybeat-schedule.dat
celerybeat-schedule.dir
data
crash.log
phoenix.pem
k8s
__pycache__
.pytest_cache
override.tf
override.tf.json
*_override.tf
*_override.tf.json
/node_modules
/public/build
/public/hot
/public/storage
/storage/*.key
/storage/logs/*
/vendor
.env.backup
.phpunit.result.cache
Homestead.json
Homestead.yaml
auth.json
npm-debug.log
yarn-error.log
/.idea
/.vscode
dev-notes
notes
/discard-later
*.pem
*.travis.yml
*deployment.yaml
*.DS_Store
